@font-face {
  font-family: "MarckScript";
  src: url(../fonts/Marck_Script/MarckScript-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.btn {
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 400ms;
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 400ms;
}

.btn:hover {
  -webkit-animation: btn 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 400ms;
  animation: btn 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 400ms;
}

.header {
  width: 100vw;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (min-width: 768px) {
  .header {
    padding: 12px 30px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.navigation .btn {
  background: #e25605;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 1px 1px 5px #cfcbcb;
          box-shadow: 1px 1px 5px #cfcbcb;
}

@media (min-width: 768px) {
  .navigation {
    width: 30%;
  }
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  color: #333;
  width: 35%;
}

@media (min-width: 768px) {
  .logo {
    font-size: 25px;
    width: 40%;
  }
}

.menu_btn {
  background: none;
  border: none;
  z-index: 9;
  -webkit-transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  margin-left: 8px;
}

.menu_btn:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.menu {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 800ms;
  transition: 800ms;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0.4px 0.4px 3px #999;
          box-shadow: 0.4px 0.4px 3px #999;
  padding: 60px 20px 10px;
  z-index: 999;
}

@media (min-width: 1024px) {
  .menu {
    opacity: 1;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 530px;
    position: initial;
    pointer-events: initial;
    visibility: visible;
    -webkit-transition: initial;
    transition: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85px;
  }
}

.menu li {
  padding: 5px 20px 5px 20px;
}

@media (min-width: 1024px) {
  .menu li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 7px 14px;
    -webkit-transition: 200ms ease-in 200ms;
    transition: 200ms ease-in 200ms;
  }
  .menu li:hover {
    border: 2px solid #c7e4f5;
    color: #87c8ee;
  }
}

.menu li a {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.menu li:last-child {
  padding-bottom: 30px;
}

@media (min-width: 1024px) {
  .menu li:last-child {
    padding: 7px 14px;
  }
}

.menu_btn:focus + .menu {
  right: 0;
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.tour {
  width: 100vw;
  border-bottom: 2px solid #e9ecf2;
  padding: 30px 10px 60px;
}

@media (min-width: 768px) {
  .tour {
    padding: 50px 10px 60px;
  }
}

.tour_text_wrapper {
  text-align: center;
  margin: 0 auto;
  width: 68%;
}

.tour_text_wrapper h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  -webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.tour_text_wrapper h4 {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.tour_text_wrapper .btn {
  background: #e25605;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 1px 1px 5px #cfcbcb;
          box-shadow: 1px 1px 5px #cfcbcb;
  margin-bottom: 30px;
}

.tour_img_wrapper {
  padding: 20px;
  width: 80%;
  border-radius: 40px;
  border: 8px solid #e9ecf2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto 40px;
  background-color: transparent;
}

.tour_img_wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card_benefit_wrapper {
  padding: 40px 5px;
}

@media (min-width: 768px) {
  .card_benefit_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card_benefit {
  width: 80%;
  margin: 0 auto 30px;
}

@media (min-width: 768px) {
  .card_benefit {
    width: 46%;
    margin: 0 auto 30px;
  }
}

.card_benefit div {
  background-color: #e25605;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
}

.card_benefit div::after {
  width: 60px;
  height: 60px;
}

.card_benefit h3 {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.card_benefit p {
  font-size: 17px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

.firs_benefit::after {
  content: url(../img/adaptation.svg);
}

.second_benefit::after {
  content: url(../img/social-media-3.svg);
  fill: #fff;
}

.third_benefit::after {
  content: url(../img/speed-2.svg);
}

.video {
  padding: 40px 10px;
  border-bottom: 2px solid #e9ecf2;
  border-top: 2px solid #e9ecf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.video_wraper {
  width: 95%;
}

.reviews {
  padding: 40px 10px;
}

.reviews h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.reviews p {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .div_review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card_review {
  position: relative;
  width: 84%;
  background: transparent;
  padding: 50px 20px 20px;
  border: 8px solid #e9ecf2;
  border-radius: 40px;
  margin: 0 auto 60px;
  -webkit-box-shadow: #eaeaec 2px 2px 4px;
          box-shadow: #eaeaec 2px 2px 4px;
  -webkit-transition: 300ms cubic-bezier(0.28, 0.67, 1, 1.05) 300ms;
  transition: 300ms cubic-bezier(0.28, 0.67, 1, 1.05) 300ms;
}

.card_review:hover {
  -webkit-transform: translateY(10px) scale(1.05);
          transform: translateY(10px) scale(1.05);
}

@media (min-width: 768px) {
  .card_review {
    width: 45%;
  }
}

.card_review .before_img {
  background: #fff;
  display: block;
  width: 60px;
  height: 60px;
  border: 8px solid #e9ecf2;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_review .before_img::before {
  content: url(../img/group.svg);
}

.card_review .card_review:last-child {
  margin-bottom: 0px;
}

.card_review .card_review_text {
  font-size: 13px;
  color: #333;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.card_review .card_review_text::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #e25605;
  opacity: 0.6;
  margin: 10px auto;
}

.card_review .autors {
  font-size: 12px;
  color: #666;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-style: italic;
}

.price {
  padding: 40px 10px;
}

.price h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.price p {
  font-size: 17px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .price_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.price_card {
  width: 80%;
  background: transparent;
  border-radius: 30px;
  border: solid 6px #ebf0fa;
  margin: 0 auto;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .price_card {
    width: 45%;
  }
}

.price_card h3 {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.price_card ul {
  width: 85%;
  margin: 0 auto 20px;
  font-size: 15px;
  color: #666;
  font-weight: 300;
}

.price_card .price_bord {
  border-top: solid 3px #ebf0fa;
  -webkit-transition: 300ms cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
  transition: 300ms cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.price_card .price_bord p {
  font-size: 30px;
  color: #444;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.price_card .price_bord:hover {
  background: #e9ecf2;
  border-radius: 0 0 6px 6px;
}

.price_card .price_bord span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #555;
}

.price_card .price_bord button {
  background: #e25605;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 1px 1px 5px #cfcbcb;
          box-shadow: 1px 1px 5px #cfcbcb;
  margin: 15px auto 0;
  display: block;
}

.get_in_touch {
  padding: 30px 15px;
  border-bottom: 2px solid #ebf0fa;
}

@media (min-width: 768px) {
  .get_in_touch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.get_in_touch .get_in_touch_text {
  padding-left: 15px;
}

.get_in_touch h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .get_in_touch h2 {
    font-size: 25px;
    text-align: left;
  }
}

.get_in_touch .text_in_touch {
  font-size: 15px;
  color: #444;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (min-width: 768px) {
  .get_in_touch .text_in_touch {
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
  }
  .get_in_touch .text_in_touch::after {
    content: '';
    display: block;
    background: #ebf0fa;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 17px;
  }
}

@media (min-width: 768px) {
  .get_in_touch .text_in_touch {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .get_in_touch_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.span_wrapper {
  padding: 0px 0px 10px 20px;
}

@media (min-width: 768px) {
  .span_wrapper {
    padding-left: 0px;
  }
}

.span_wrapper p {
  font-size: 15px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.span_wrapper .telephone::before {
  content: url(../img/call.svg);
  margin-right: 7px;
}

.span_wrapper .street::before {
  content: url(../img/maps-and-flags.svg);
  margin-right: 7px;
}

.span_wrapper .email::before {
  content: url(../img/email-envelope.svg);
  margin-right: 7px;
}

.input_big_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  width: 95%;
}

.form .input-2 {
  width: 100%;
  background-color: transparent;
  border: 2px solid #e9ecf2;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .form .input-2 {
    height: 150px;
  }
}

.form .btn_input {
  background: #e25605;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 1px 1px 3px #555;
          box-shadow: 1px 1px 3px #555;
}

.input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input_wrapper .input-1 {
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #e9ecf2;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
}

.footer {
  background-color: #333;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 15px 25px;
  }
}

.footer .first_span {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-transform: capitalize;
  color: #fff;
}

@media (min-width: 768px) {
  .footer .first_span {
    font-size: 20px;
  }
}

.footer .second_span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #fff;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes btn {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes btn {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 1px 1px 5px #cfcbcb;
    box-shadow: 1px 1px 5px #cfcbcb;
  }
  100% {
    -webkit-transform: translateZ(20px) translateY(-5px);
    transform: translateZ(20px) translateY(-5px);
    -webkit-box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 10px -7px rgba(0, 0, 0, 0.9);
  }
}
/*# sourceMappingURL=style.css.map */